# Python
__pycache__/
.pytest_cache

# notebooks
notebooks
**/known_nodes.json
*/.vscode/*
*/.idea/*
*/.DS_Store
*/.env
*/.env.local
*/.env.*.local

# env vars
**/*.env

# Linters
**/.mypy_cache/
**/.ruff_cache/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Environments
**/.env
.venv
env/
venv/

# onnx environment
onnx

# Mac finder cache
.DS_Store

# Local logs
*.log

# ignore build artifacts
**/*.egg-info
dist
build

#ide specific
launch.json

# ide
.idea

# wallet files
**/keyfile-arweave.json

# shared volume files
shared

# model files
**/*.torch
**/*.onnx

# pypi-server packages (testing installation of lib locally)
packages

# gcp secret files
*-deployer-key.json
*-deployer-key.json.b64

playground

# downloaded models when testing arlocal
iris
downloaded_models

# arlocal logs
logs

# docs
**/site
.vercel
vercel.json

# pytest logs
**/pytest_logs.txt

infernet_services/deploy/config.json

**/test_lib_0/**
infernet_services/services/ezkl_proof_service/src/wallet.json
infernet_services/tests/ezkl_proof_service/input_onchain.json
infernet_services/tests/ezkl_proof_service/input.json
infernet_services/tests/ezkl_proof_service/attester.abi
infernet_services/tests/ezkl_proof_service/attester.json
infernet_services/tests/ezkl_proof_service/attester.sol
infernet_services/tests/ezkl_proof_service/evm_verifier.abi
infernet_services/tests/ezkl_proof_service/evm_verifier.sol
