# This is a sample environment file which you can use to run the gcp project commands

# GCP Artifact Registry Settings
artifact_repo=
artifact_location=
gcp_project=

# service account name
sa_name=

# default project name
project=
