/* extra.css */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #00FF80;
    /* Ritual green for other primary elements */
    --md-primary-bg-color: #003300;
    /* Darker green for background */
    --md-typeset-a-color: #00e69d;
    --md-primary-border-color: #00FF80;
    /* Ritual green */
    --md-primary-light-color: #66FF99;
    /* Lighter green for hover, etc. */
    /* Customize the navbar specifically */
    --md-header-fg-color: #FFFFFF;
    /* Navbar text color */
    --md-header-bg-color: #20232a;
    /* Navbar background color */
}

:root {
    --md-code-bg-color: #111111;
    /* Solarized dark background */
    --md-code-fg-color: #839496;
    /* Solarized dark foreground */
    --md-code-hl-color: #586e75;
    /* Solarized dark highlight */
    --md-default-bg-color: #1e2129;
}

/* Additional styling for navbar if needed */
.md-header {
    background-color: var(--md-header-bg-color);
    color: var(--md-header-fg-color);
}

.md-header__title,
.md-header__nav,
.md-header__button {
    color: var(--md-header-fg-color);
}

.md-header__title:focus,
.md-header__title:hover,
.md-header__nav a:focus,
.md-header__nav a:hover,
.md-header__button:focus,
.md-header__button:hover {
    color: var(--md-primary-light-color);
    /* Hover color */
}