aiohttp>=3.9.3,<4.0.0
pytest>=8.1.1,<9.0.0
pytest-asyncio>=0.23.5.post1,<1.0.0
web3>=6.15.1,<7.0.0
reretry>=0.11.8,<1.0.0
retry2>=0.9.5,<1.0.0
pydantic>=2.5.3,<3.0.0
mypy>=1.9.0,<2.0.0
quart>=0.19.4,<1.0.0
pre-commit>=3.6.2,<4.0.0
infernet-ml>=1.0.0,<2.0.0
pandas>=2.2.2,<3.0.0
infernet-ml[onnx_inference]>=1.0.0,<2.0.0
infernet-ml[torch_inference]>=1.0.0,<2.0.0
infernet-ml[css_inference]>=1.0.0,<2.0.0
infernet-ml[tgi_inference]>=1.0.0,<2.0.0
matplotlib>=3.8.4,<4.0.0
isort>=5.13.2,<6.0.0
reretry>=0.11.8,<1.0.0
infernet-client>=0.3.0,<1.0.0
py-solc-x>=2.0.3,<3.0.0
solc-select>=1.0.4,<2.0.0