# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# generated state file
infernet_deployed.json

# process logs & pid
anvil.log
anvil.pid
