# pre-commit workflow
#
# Ensures the codebase passes the pre-commit stack.

name: Run Infernet Node E2E Tests

on:
  pull_request

jobs:
  infernet-node-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_GH_ACTIONS }}

      - name: Checkout
        uses: actions/checkout@v4

      # pull submodules manually since some are private
      - run: |
          git submodule sync --recursive
          git -c protocol.version=2 submodule update --init --force --recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Get env vars
        run: |
          echo '${{ secrets.GCP_ENV }}' > gcp.env

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Pull service images
        run: |
          docker compose -f infernet_services/deploy/docker-compose.yaml pull
          docker pull "ritualnetwork/infernet-anvil:0.0.0"

      - name: Build the container
        env:
          service_dir: infernet_services/test_services
          service: echo
          CI: true
        run: make build-service

      - name: Install UV
        run: python -m pip install uv

      # Can't install from uv with the --system flag much like what we do in our
      # dockerfiles, because we'd have to run it as root.
      - name: Create virtual environment
        run: uv venv

      - name: Activate virtual environment
        run: |
          . .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Install dependencies
        run: uv pip install -r infernet_services/requirements-node-tests.lock

      - name: Run tests
        env:
          service: infernet_node
          service_dir: infernet_services/test_services
        run: make run-tests
